 @import "_reset.css";
/*  Color palette
    -----------------------
    color       HEX code  RGB code
    -------------------------------------
    red:      	#960001	  rgb(150,0,1)
    yellow:     #e2e55f	  rgb(226,229,95)
    green:      #96c25f	  rgb(150,194,95)
    blue:       #5582c6	  rgb(85,130,198)
    purple: 	  #79519f	  rgb(121,81,159) 

    fonts
    -----------------------
    headings:   Cabin
    body:       Roboto

    font-sizes:
    -----------------------
    h1:   70px
    h2:   36px
    h3    24px
    body: 17px (all other text)

    breakpoints
    -----------------------
    desktop: 1200px
    
    max-width of the content is 1400px
*/

/* Add all of your styles here */
#main {
  background-color: #5582c6;
  width: 1000px;
  height: 1000px;
}

body {
  font-size: 17px;
}

h2 {
  font-size: 36px;
  color: #960001;
}

h3 {
  font-size: 24px;
  color: #960001;
}

a {
  color: #e2e55f;
}

p {
  color: white;
}

.padding {
  padding: 0 0 0 0;
}

.character_grid {
  display: grid;
  grid-template-columns: auto auto;
}

.character_cell {
  padding-bottom: 5px;
}

.yellow_box {
  background-color: #e2e55f;
  width: 100%;
  height: 80px;
}

.yellow_box p {
  color: #960001;
  padding: 30px 0 0 80px;
}

#purple_button {
  background-color: #79519f;
  color: white;
  width: 100%;
}

.comment_box {
  width: 30%;
  height: 100px;
}

#text_box {
  width: 100%;
}
